* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.color-box {
  background-color: white;
  height : 100px;
  width : 100px;
}

.color-resultat {
    background-color: azure;
}